#nn{
    background: rgb(60,89,115);
background: linear-gradient(90deg, rgba(60,89,115,1) 0%, rgba(228,125,21,1) 58%);
color: white;
}
#Himalayan{
    color: white;
    position: absolute;
    top: 385px;
    left: 230.5px;
}
#Himalayan_Region{
    color: white;
    position: absolute;
    top: 410px;
    left: 202px;
    /* color: black; */
}
#Nature{
    color: white;
    position: absolute;
    top: 220px;
    left: 800.5px;
}
#Nature_Region{
    color: white;
    position: absolute;
    top: 240px;
    left: 770.5px;
}
#Valley{
    color: white;
    position: absolute;
    top: 410px;
    left: 800.5px;
}
#Valley_Region{
    color: white;
    position: absolute;
    top: 430px;
    left: 770.5px;
}
@media screen and (max-width: 1024px) and (min-width: 350px) {
    
}